<h3 class="hints">Click on given <mark>dots</mark></h3>
<div class="timeline-wrapper">
  <ul class="timeline">
    <li data-date="Jan 7, 2022">
      <span class="title">Mother's Birthday</span>
      <div   class="data">
        <h3>Day you've been waiting for</h3>
        <small>Jan 7, 2022</small>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
          recusandae, exercitationem, quae cumque eveniet voluptates voluptatem
          quidem officia quia voluptatum.
        </p>
        <span class="close">Click to close</span>
      </div>
    </li>
    <li data-date="Feb 14, 2023">
        <span class="title">Valentines Day</span>
        <div  class="data">
          <h3>Day you've been waiting for</h3>
          <small>Feb 14, 2023</small>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
            recusandae, exercitationem, quae cumque eveniet voluptates voluptatem
            quidem officia quia voluptatum.
          </p>
          <span class="close">Click to close</span>
        </div>
      </li>
      <li data-date="Mar 7, 2023">
        <span class="title">Nahid's Birthday</span>
        <div class="data">
          <h3>Day you've been waiting for</h3>
          <small>Mar 7, 2022</small>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
            recusandae, exercitationem, quae cumque eveniet voluptates voluptatem
            quidem officia quia voluptatum.
          </p>
          <span class="close">Click to close</span>
        </div>
      </li>
      <li data-date="Sep 9, 2023">
          <span class="title">Lale's Birthday</span>
          <div class="data">
            <h3>Day you've been waiting for</h3>
            <small>Sep 9, 2023</small>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
              recusandae, exercitationem, quae cumque eveniet voluptates voluptatem
              quidem officia quia voluptatum.
            </p>
            <span class="close">Click to close</span>
          </div>
        </li>
        <li data-date="Jan 1, 2024">
            <span class="title">Happy New Year 2024</span>
            <div class="data">
              <h3>Day you've been waiting for</h3>
              <small>Jan 1, 2024</small>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
                recusandae, exercitationem, quae cumque eveniet voluptates voluptatem
                quidem officia quia voluptatum.
              </p>
              <span class="close">Click to close</span>
            </div>
          </li>
  </ul>
</div>
