<mat-card>
  <mat-card-content class="user-detail-header">
     
    <img src="assets/img/person.png" alt="" />
    <div class="user-info-header">
      
      <h2>{{userService.currentUser.name}}</h2>
      <p>{{userService.currentUser.email}}</p>
    </div>
    <p>Hier stehen die Ereignis Details, was, wann, wo, wer war beteiligt</p>
  </mat-card-content>
</mat-card>

<mat-card class="mt-32">
  <mat-card-content>
    Hier steht ein Text, das aus der Datenbank geladen wird
  </mat-card-content>
</mat-card>