<!-- <mat-card>
    <mat-card-content class="user-detail-header">
      <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="userMenu">
          <mat-icon class="more-vert">more_vert</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu"> -->
          <!-- <button mat-menu-item (click)="editUserDetail()">edit</button>
          <button mat-menu-item (click)="openDeleteDialog()">delete</button> -->
        <!-- </mat-menu>
      <img src="assets/img/person.png" alt="" />
      <div class="user-info-header">
        <h2>{{dummyUsers[0].name}}</h2>
        <p>{{dummyUsers[0].phone}}</p>
        <p>{{dummyUsers[0].address}}</p>
        <p >{{dummyUsers[0].role}}</p>
      </div>
    </mat-card-content>
  </mat-card>

  

<h2>Zeugenaussagen</h2>
<mat-accordion>
   <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel> 

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{dummyStatements[0].date}}   {{dummyStatements[0].time}} ,   {{dummyStatements[0].place}}
      </mat-panel-title>
      <mat-panel-description> -->
        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
        <!-- {{dummyEvents[0].description}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <section class="example-section">
      <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </mat-progress-bar>
    </section>
    <mat-card class="event-info">
      <div >
        <p>{{dummyEvents[0].date}} {{dummyEvents[0].time}}</p>
        <p>{{dummyEvents[0].place}}</p>
        <p>{{dummyUsers[0].name}},{{dummyEvents[0].users}}</p>
      </div>
    </mat-card>

    
    <mat-form-field  class="full-width mt-32">
      <mat-label>Aussage selbst</mat-label>
      <textarea rows="5" [disabled]="checked" matInput placeholder="Aussage selbst"> {{dummyStatements[0].comment}}</textarea>
    </mat-form-field>

    <section class="example-section">
      <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          (change)="checked = !checked">
        Aussage von Zeugen bestätigen!
      </mat-slide-toggle>
    </section>

    <p>Querverweise</p>
    <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Self aware panel
</mat-panel-title>
<mat-panel-description>
Currently I am {{panelOpenState ? 'open' : 'closed'}}
</mat-panel-description>
</mat-expansion-panel-header>
<p>I'm visible because I am open</p>
</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Self aware panel
</mat-panel-title>
<mat-panel-description>
Currently I am {{panelOpenState ? 'open' : 'closed'}}
</mat-panel-description>
</mat-expansion-panel-header>
<p>I'm visible because I am open</p>
</mat-expansion-panel>
</mat-accordion>
 
  <section class="example-section">
    <label class="example-margin">Color:</label>
    <mat-radio-group [(ngModel)]="color">
      <mat-radio-button class="example-margin" value="primary">
        Primary
      </mat-radio-button>
      <mat-radio-button class="example-margin" value="accent">
        Accent
      </mat-radio-button>
      <mat-radio-button class="example-margin" value="warn">
        Warn
      </mat-radio-button>
    </mat-radio-group>
  </section>
  <section class="example-section">
    <mat-progress-bar
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value"
        [bufferValue]="bufferValue">
    </mat-progress-bar>
  </section>
  <mat-card class="mt-32">
    
    <mat-card-content>
      <p>Querverweise</p>
      <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  
  <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  
    </mat-card-content>
  </mat-card> -->