
h1{
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  @media screen and (max-width: 767px) {
    font-size: 1.5em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}

.add-witness-btn {
    position: sticky;
    margin: 16px;
    // top: 56px;
    bottom: 0px;
    left: 100%;
  }
  
  mat-card-content {
    padding-left: 0;
    padding-right: 0;
  }

  .user-table {
    width: 100%;
    border-collapse: collapse;
    tr {
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);
      &:first-child {
        cursor: unset;
        &:hover {
          background-color: unset;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
  
      cursor: pointer;
  
      td,
      th {
        height: 48px;
        &:first-child {
          padding-left: 16px;
        }
      }
  
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.04);
      }
    }
  
    th {
      background-color: rgba($color: #000000, $alpha: 0.2);
      text-align: start;
      font-size: 14px;
      font-weight: 500;
    }
  }
  