<mat-card>
    <mat-card-content class="user-detail-header">
      <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="userMenu">
          <mat-icon class="more-vert">more_vert</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="editUserDetail()">Edit</button>
        </mat-menu>
      <img src="assets/img/person.png" alt="" />
      <div class="user-info-header">
        <h2>{{userService.currentUser.name}}</h2>
        <p>{{userService.currentUser.email}}</p>
      </div>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="mt-32">
      <mat-card-content>
      <!-- <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="addresMenu">
          <mat-icon class="more-vert">more_vert</mat-icon>
      </button> -->
      <!-- <mat-menu #addresMenu="matMenu">
          <button mat-menu-item (click)="editAddressMenu()">Edit</button>
        </mat-menu> -->
      <mat-card-title>Spuren</mat-card-title>
  
      {{userService.currentUser.trails}}
    </mat-card-content>
  </mat-card>
  