<h1>Sachverhalte</h1>
<table class="table">
  <tr>
    <th>Zeit</th>
    <th>Uhrzeit</th>
    <th>Ort</th>
    <th>Beteiligte</th>
    <th>kurze Beschreibung</th>
    <th></th>
  </tr>
  <tr
    *ngFor="let ev of this.fireService.events"
    [routerLink]="['/events/' + ev.docId]"
  >
    <td>{{ ev.date }}</td>
    <td>{{ ev.time }}</td>
    <td>{{ ev.place }}</td>
    <td>
      <ul *ngFor="let item of ev.witnesses">
        {{
          getWitnessNamebyWitnessId(item)
        }}
      </ul>
    </td>
    <td>
      {{ ev.description }}
    </td>
    <td class="table-button">
      <button
        (click)="stopEvent($event)"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openEditEventDialog(ev)">edit</button>
        <button mat-menu-item (click)="openDeleteEventDialog(ev)">
          delete
        </button>
        <button mat-menu-item>
          <span [routerLink]="['/events/' + event.docId]"> more Details</span>
        </button>
      </mat-menu>
    </td>
  </tr>
</table>

<!-- <mat-card>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> This is the expansion title </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="timeline-wrapper">
        <ul class="timeline">
          <li data-date="Jan 7, 2022">
            <span class="title">Mother's Birthday</span>
            <div class="data">
              <h3>Day you've been waiting for</h3>
              <small>Jan 7, 2022</small>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dignissimos, recusandae, exercitationem, quae cumque eveniet
                voluptates voluptatem quidem officia quia voluptatum.
              </p>
              <span class="close">Click to close</span>
            </div>
          </li>
          <li data-date="Feb 14, 2023">
            <span class="title">Valentines Day</span>
            <div class="data">
              <h3>Day you've been waiting for</h3>
              <small>Feb 14, 2023</small>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dignissimos, recusandae, exercitationem, quae cumque eveniet
                voluptates voluptatem quidem officia quia voluptatum.
              </p>
              <span class="close">Click to close</span>
            </div>
          </li>
          <li data-date="Mar 7, 2023">
            <span class="title">Nahid's Birthday</span>
            <div class="data">
              <h3>Day you've been waiting for</h3>
              <small>Mar 7, 2022</small>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dignissimos, recusandae, exercitationem, quae cumque eveniet
                voluptates voluptatem quidem officia quia voluptatum.
              </p>
              <span class="close">Click to close</span>
            </div>
          </li>
          <li data-date="Sep 9, 2023">
            <span class="title">Lale's Birthday</span>
            <div class="data">
              <h3>Day you've been waiting for</h3>
              <small>Sep 9, 2023</small>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dignissimos, recusandae, exercitationem, quae cumque eveniet
                voluptates voluptatem quidem officia quia voluptatum.
              </p>
              <span class="close">Click to close</span>
            </div>
          </li>
          <li data-date="Jan 1, 2024">
            <span class="title">Happy New Year 2024</span>
            <div class="data">
              <h3>Day you've been waiting for</h3>
              <small>Jan 1, 2024</small>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dignissimos, recusandae, exercitationem, quae cumque eveniet
                voluptates voluptatem quidem officia quia voluptatum.
              </p>
              <span class="close">Click to close</span>
            </div>
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card> -->

<button
  class="add-event-btn"
  mat-fab
  matTooltipPosition="above"
  matTooltip="Event hinzufügen"
  color="primary"
  (click)="openAddEventDialog()"
>
  <mat-icon>add</mat-icon>
</button>
